{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
    <body>
         <section id="Greeting" class="reveal">
             <div id="app">
             </div>
             <img id="avatar" src="{% static 'mysite/images/me.png' %}" width="200" height="200" alt=""/>
             <h1 id="name-title">I'm Michael</h1>
             <p>I'm a software developer that is passionate about <b id="keyword">Music</b> 🎸, <b id="keyword">Data Science</b> 📈, and <b id="keyword">Automation</b> 🤖</p>
             <p>My north star is building systems that benefit humanity 🌎</p>
         </section>
         <section id="Bio" class="reveal" >
             <h1>What I can do</h1>
             <p>I have experience in data mining, visualization, machine learning, and backend development</p>
             <p>My primary languages are Python and Java, but I believe in using whatever tool is right for the job  </p>
             <p>Check out my <a href="{% url 'projects' %}">Projects</a> to see some things that I've done</p>
         </section>
    </body>

    <script src="{% static "mysite/main.js" %}"></script>
{% endblock %}

