{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mysite/css/projects.css' %}">

<h1>Things I've Built</h1>
<div class="container">
    <div class="card-deck">
      <div class="card">
        <img src="{%  static 'mysite/images/sloth_screenshot.png' %}" class="card-img-top" alt="..."  width="100" height="400">
        <div class="card-body">
          <h5 class="card-title">discord_sloth</h5>
          <p class="card-text">A Goonies-Themed discord bot that can give you some weather and crypto data using free apis and will respond with nonsensical replies
          if it does not understand your query. Just for funsies. "Hey you guuuyyyysss!"</p>
          <p class="card-text"><small class="text-muted">Last updated Jan 2022</small><a href="https://github.com/mmcdermott011/discord_sloth" target="_blank">
                 <img src="{%  static 'mysite/icons/github.png' %}" width="20" height="20" >
          </a></p>
        </div>
      </div>
      <div class="card">
        <img src="{%  static 'mysite/images/metal_training.gif' %}" class="card-img-top" alt="..."  width="100" height="400">
        <div class="card-body">
          <h5 class="card-title">GAAAN</h5>
          <p class="card-text">GAAAN is a Generative Album Art Adversarial Network. I scraped Spotify for roughly 50,000 images
              of metal and psychadelic album artwork images to train two deep learning models. Technolgies used: Keras, Tensorflow, Python, Pandas,
          Google Colab.</p>
          <p class="card-text"><small class="text-muted">Last updated June 2020</small><a href="https://github.com/mmcdermott011/GAAAN" target="_blank">
                 <img src="{%  static 'mysite/icons/github.png' %}" width="20" height="20" >
          </a></p>
        </div>
      </div>
      <div class="card">
        <img src="{%  static 'mysite/images/stats1.png' %}" class="card-img-top" alt="..." width="100" height="400">
        <div class="card-body">
          <h5 class="card-title">Fit.Natic Health Tracking App</h5>
          <p class="card-text">Fit.Natic is a mobile, health tracking app that allows users to log their sleep, workouts, calories, and provides resources
              to plan meals and workouts. This app was developed for Android using the Xamarin framework.</p>
          <p class="card-text"><small class="text-muted">Last updated June 2020</small> <a href="https://github.com/mmcdermott011/Fit.Natic" target="_blank">
                 <img src="{%  static 'mysite/icons/github.png' %}" width="20" height="20" >
             </a></p>

        </div>
      </div>
    </div>
</div>
{% endblock %}